footer{
    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
}

.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 0.8em;
    color: var(--secondary-color);

    padding: 16px;
}

@media (min-width: 680px) {
    .copy{
        font-size: 1.1em;
        padding: 20px;
    }
}