header{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
}

.title{
    display: flex;
    flex-direction: row;

    font-weight: 700;
    font-size: 2em;
}

.title span{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.title p{
    display: flex;
    flex-direction: column;
    justify-content: end;
}