@import url(./class.css);
@import url(./pages/header.css);
@import url(./pages/main.css);
@import url(./pages/footer.css);

:root{
    --primary-color: #23234b;
    --secondary-color: #E7DFC6;
    --thirty-color: #453b49;
    --card-color: #b4a7b9;
    --hover-color: #8080ca;
}

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    text-decoration: none;
    
    font-family: "Noto Sans", sans-serif;
}

a{
    color: inherit;
}

body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}