@import url(./class.css);
@import url(./pages/header.css);
@import url(./pages/main.css);
@import url(./pages/footer.css);

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    text-decoration: none;
    
    color: black;
    font-family: "Noto Sans", sans-serif;
}

body{
    display: flex;
    flex-direction: column;

    min-width: 100vw;
    min-height: 100vh;
}